<%- include('partials/header.ejs') %>
<main class="h-full pb-16 overflow-y-auto">
  <div class="container px-6 mt-8 mx-auto grid">
    <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
      <!-- General elements -->
      <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
        Categaries
      </h4>
      <div
        class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800"
      >
        <form
          action="/admin/postEditCategory/<%= category._id%>"
          method="post"
          enctype="multipart/form-data"
        >
          <% if(catEditErr.length>0){ %>
          <div
            class="alert alert-danger col-md-12 text-center"
            style="color: white; background-color: rgb(221, 118, 118)"
            role="alert"
          >
            <p class="text-danger"><%=catEditErr %></p>
          </div>
          <% } %>
          <label class="block text-sm">
            <span class="text-gray-700 dark:text-gray-400">Category Name</span>
            <input
              class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
              name="category"
              type="text"
              value="<%= category.category%>"
            />
          </label>
          <label class="block mt-4 text-sm">
            <span class="text-gray-700 dark:text-gray-400">Offer</span>
            <input
              class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
              name="offer"
              type="number"
              value="<%= category.offer%>"
            />
          </label>
          <label class="block mt-4 text-sm">
            <span class="text-gray-700 dark:text-gray-400"> Image </span>
            <div class="relative text-gray-500 focus-within:text-purple-600">
              <input
                class="block w-full pr-20 mt-1 text-sm text-black dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray form-input"
                name="imageUrl"
                type="file"
                multiple
              />
            </div>
          </label>
          <button
            type="submit"
            class="btn btn-primary btn-ls btn-block login-button"
          >
            <a
              class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
            >
              Edit Category
            </a>
          </button>
        </form>
      </div>
    </div>
  </div>
</main>
