
		 <%- include('../includes/userHeader.ejs') %>
        
        <div class="breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="bread"><span><a href="index.html">Home</a></span> / <span>Checkout</span></p>
					</div>
				</div>
			</div>
		</div>


		<div class="colorlib-product">
			<div class="container">
				<div class="row row-pb-lg">
					<div class="col-sm-10 offset-md-1">
						<div class="process-wrap">
							<div class="process text-center active">
								<p><span>01</span></p>
								<h3>Shopping Cart</h3>
							</div>
							<div class="process text-center active">
								<p><span>02</span></p>
								<h3>Checkout</h3>
							</div>
							<div class="process text-center">
								<p><span>03</span></p>
								<h3>Order Complete</h3>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-8">
						<form  method="post" id="checkout-form" class="colorlib-form" novalidate="novalidate">
							<h2>Billing Details</h2>
		              	 <div class="row">
			               <!-- <div class="col-md-12">
			                  <div class="form-group">
			                  	<label for="country">Select Country</label>
			                     <div class="form-field">
			                     	<i class="icon icon-arrow-down3"></i>
			                        <select name="people" id="people" class="form-control">
				                      	<option value="#">Select country</option>
				                        <option value="#">Alaska</option>
				                        <option value="#">China</option>
				                        <option value="#">Japan</option>
				                        <option value="#">Korea</option>
				                        <option value="#">Philippines</option>
			                        </select>
			                     </div>
			                  </div>
			               </div> -->

								<div class="col-md-12">
									<div class="form-group">
										<label for="fname"> Name</label>
										<input type="text" id="fname" class="form-control" value="<%= user.name %> " disabled>
									</div>
								</div>
								<!-- <div class="col-md-6">
									<div class="form-group">
										<label for="lname">Last Name</label>
										<input type="text" id="lname" class="form-control" placeholder="Your lastname">
									</div>
								</div> -->

								<!-- <div class="col-md-12">
									<div class="form-group">
										<label for="companyname">Company Name</label>
			                    	<input type="text" id="companyname" class="form-control" placeholder="Company Name">
			                  </div> -->
			               </div>
						   <label for="address">Choose Address</label>
						   <div class="accordion" id="accordionExample">
							
								<% for( let i = 0; i < address.length; i++ ) { %>
								
								
							<div class="card ">
							  <div class="card-header " id="headingOne">
								<% if (i==0) { %>
									<label><input type="radio" id="<%= address[i]._id %>" value="<%= address[i]._id %>" name="address" checked>Select address</label>
									<% } else { %>
										<label><input type="radio" id="<%= address[i]._id %>" value="<%= address[i]._id %>" name="address">Select address</label>
								<% } %>

									
								
								<h2 class="mb-0">
								  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne<%= address[i]._id %>" aria-expanded="true" aria-controls="collapseOne">
									<%= address[i].fName %>
								  </button>
								</h2>
								
							  </div>
						  
							  <div id="collapseOne<%= address[i]._id %>" class="collapse" name="addressLine" aria-labelledby="headingOne" data-parent="#accordionExample">
								<div class="card-body">
									Address: <%= address[i].addressLine %>,
									<%= address[i].city %>,
									<%= address[i].state %>,
									<%= address[i].pincode %> ,
									<%= address[i].country %>
								</div>
							  </div>
							</div>
							<% } %>
						  </div>
			               <!-- <div class="col-md-12">
									<div class="form-group">
										<label for="fname">Address</label>
			                    	<input type="text" id="address" class="form-control"
									 value="
									 Address: <%= address.addressLine %>,
									 city:<%= address.city %>,
									 State:<%= address.state %>,
									 Country:<%= address.country %>
									 ">
			                  </div>
			                  <div class="form-group">
			                    	<input type="text" id="address2" class="form-control" placeholder="Second Address">
			                  </div>
			               </div> -->
						   <div class="mt-3 ">
							<a class="addtocart  btn btn-primary btn-addtocart" href="/address">
							  
							  Add New Address
							 
							 </a>	
							</div>
			               <div class="col-md-12">
								<!-- 	<div class="form-group">
										<label for="companyname">Town/City</label>
			                    	  <input type="text" id="towncity" class="form-control" placeholder="Town or City">
			                      </div>
			               </div>
			            
								<div class="col-md-6">
									<div class="form-group">
										<label for="stateprovince">State/Province</label>
										<input type="text" id="fname" class="form-control" placeholder="State Province">
									</div>
								</div> -->
								<!-- <div class="col-md-6">
									<div class="form-group">
										<label for="lname">Zip/Postal Code</label>
										<input type="text" id="zippostalcode" class="form-control"
										 value="<%= address.pincode %> ">
									</div>
								</div> -->
							
								<div class="col-md-6">
									<div class="form-group">
										<label for="email">E-mail Address</label>
										<input type="text" id="email" name="email" class="form-control" value="<%= user.email %>" disabled>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="Phone">Phone Number</label>
										<input type="text" id="zippostalcode" name="number" class="form-control" value="<%= user.number %>" disabled>
									</div>
								</div>

								<div class="col-md-12">
								
									<div class="form-group">
										<div class="radio">
										  <label><input type="radio" name="optradio"> Create an Account? </label>
										  <label><input type="radio" name="optradio"> Ship to different address</label>
										</div>
									</div>
								</div>
		                    </div>  
		             
				           </div>
                    
					      <div class="col-lg-4">
						  <div class="row">
                              <!--  -->
                               <div class="col-md-12">
	                           <div class="row form-group">
	                         	<div class="col-sm-9">
	                         	  <input type="text" name="couponCod" id="couponInput"  class="form-control input-number" placeholder="Your Coupon Number...">
	                         	</div>
	                         	<p class="pl-5" id="CouponError"></p>
		                   <div class="col-sm-3 mt-3 ">
		                         <input type="button" onclick="applyCoupon('<%= cartItems.cartTotal%>')" style="display: block;" id="applyBtn" value="Apply Coupon" class="btn btn-primary">
		                          </div>
	                    </div>
                 </div>
 

   <!--  -->


							<div class="col-md-12">
								<div class="cart-detail">
									<h2>Cart Total</h2>
									<ul>
										<li>
											<!-- <span>Subtotal</span> <span>₹<%= cartItems.cartTotal%></span> -->
											<ul>
												<% for ( cart of cartItems.items) { %>
												<li><span> <%= cart.quantity %> x <%= cart.product.name %> </span> <span>₹<%= cart.totalPrice %></span></li>
											
												<% } %>
											</ul>
										</li>
										<li><span>Sub Total</span> <span><input type="text" name="subtotal" id="totalAmount"  class="form-control" value="<%= cartItems.cartTotal%>" hidden >₹<%= cartItems.cartTotal%></span></li>

										<li><span>Shipping</span> <span>FREE</span></li>
										<li><span>Discount</span> <span id="discountAmount">Nil</span></li>

										<li><span>Order Total</span> <span id="grandTotalAmount">₹<%= cartItems.cartTotal%></span></li>
										<input type="text" name="total" id="grandTotal"  class="form-control" value="<%= cartItems.cartTotal%>" hidden >
									</ul>
								</div>
						   </div>



						   <div class="w-100"></div>

						   <div class="col-md-12">
								<div class="cart-detail">
									<h2>Payment Method</h2>
									<div class="form-group">
										<div class="col-md-12">
											<div class="radio">
											   <label><input type="radio" id="Cash-On-Delivery" value="cash on delivery"  name="paymentMethod">Cash on Delivery</label>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-12">
											<div class="radio">
											   <label><input type="radio" id="Razorpay"  value="Razorpay" name="paymentMethod"> Razorpay</label>
											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="col-md-12">
											<div class="radio">
											   <label><input type="radio" id="wallet"  value="Wallet" name="paymentMethod">wallet</label>
											</div>
										</div>
									</div>
									<input type="text" name="cartId"  value="<%= cartItems._id %>" hidden>
									<div class="form-group">
										<div class="col-md-12">
											<div class="checkbox">
											   <label><input type="checkbox" value=""> I have read and accept the terms and conditions</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						 </div>
						
						 <div class="row">
							<div class="col-md-12 text-center">
								<button type="submit" class="btn btn-primary">
								Place an order
							</button>
							</div>
					 	  </div>
					      </div>
				        </form>
				</div>
			</div>
		</div>
        <%- include('../includes/userFooter.ejs') %>



		<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
		integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
		crossorigin="anonymous"
		referrerpolicy="no-referrer"
	  ></script>
	  <!-- sweet alert -->
	  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>


	  <script>
		  var CouponCode;
		function applyCoupon(subtotal) {
			
		  CouponCode = document.getElementById("couponInput").value;
		  console.log(CouponCode,'apply coupon');
		  let total = subtotal;
		  if (CouponCode == "") {
			document.getElementById("CouponError").style.color = "red";
			document.getElementById("CouponError").innerHTML = "Enter a Coupon Code";
		  } else {
			$.ajax({
			  url: "/verifyCoupon",
			  method: "post",
			  data: {
				CouponCode,
				total,
			  },
			  success: (response) => {
				if (response.status == true) {
				console.log(response.grandtotal);
				  document.getElementById("CouponError").style.color = "green";
				  document.getElementById("CouponError").innerHTML = "Coupon Applied";
				  document.getElementById("discountAmount").innerHTML =
					"Rs." + response.CutOff;
				  document.getElementById("grandTotalAmount").innerHTML =
					response.grandtotal;
					document.getElementById("grandTotal").value =
					response.grandtotal;
				  document.getElementById("applyBtn").style.display = "none";
				} else {
				  document.getElementById("CouponError").style.color = "red";
				  document.getElementById("CouponError").innerHTML =
					response.couponMsg;
				}
			  },
			});
		  }
		}


 //  let couponCode=document.getElementById("couponInput").value
  let userOrderData
  $("#checkout-form").submit((e) => {
    e.preventDefault();
    console.log("vannu >>>>>>>>>>>>>>>");
	let couponAmount=document.getElementById("discountAmount").innerText 
			console.log(couponAmount);
    $.ajax({
      url: "/checkout/<%= cartItems._id %>",
      method: "post",
      data: $("#checkout-form").serialize(),couponAmount,
      success: (response) => {
		if(response.choosePay){
			const Toast = Swal.mixin({
               toast: true,
               position: 'top-end',
               showConfirmButton: false,
               timer: 3000,
               timerProgressBar: true,
               didOpen: (toast) => {
                 toast.addEventListener('mouseenter', Swal.stopTimer)
                 toast.addEventListener('mouseleave', Swal.resumeTimer)
               }
              } )
            
              Toast.fire({
              icon: 'error',
              title: 'please choose your your payment'
              })

           
		}else if (response.chooseAddress){

			const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
              toast.addEventListener('mouseenter', Swal.stopTimer)
              toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
             })

             Toast.fire({
              icon: 'error',
              title: 'must add your delivery address'
             })


			// alert(response.message1);
            // return;
		}else if(response.noBalance){
			const Toast = Swal.mixin({
             toast: true,
             position: 'top-end',
             showConfirmButton: false,
             timer: 3000,
             timerProgressBar: true,
             didOpen: (toast) => {
               toast.addEventListener('mouseenter', Swal.stopTimer)
               toast.addEventListener('mouseleave', Swal.resumeTimer)
             }
              })
              
              Toast.fire({
                icon: 'error',
                title: 'There is no balance in wallet',
              })

		}

        if (response.cashOnDelivery||response.wallet) {

				Swal.fire({
            title: "Order Placed Successfully",
            icon: "success",
            showDenyButton: false,
            confirmButtonText: " Order Successfully",
            // denyButtonText: `Continue Shopping`,
            toast: true,
          }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
              location.href = "/order-complete";
            }
			//  else if (result.isDenied) {
            //   location.href = "/";
            // }
          });
		
        
        } else if (response.Razorpay) {
          console.log("test ok");
          let razorpayoderData = response.razorpayoderData;
          userOrderData = response.userOrderData;
		  walletBalance=response.walletBalance
		  console.log(walletBalance,"wallle balance");
          console.log(userOrderData,"<<<<<<<<<<<<<<<<<<<<<<<");
          console.log(razorpayoderData);
          var options = {
            key: "rzp_test_VZx01l8lO0abIf", // Enter the Key ID generated from the Dashboard
            amount: response.razorpayOrderData.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            currency: "INR",
            name: "Toft",
            description: "Test Transaction",
            image: "https://example.com/your_logo",
            order_id: response.razorpayOrderData.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            handler: function (response) {
              console.log(response, "????????????????????????????????????????");
            //   alert(response.razorpay_payment_id);
            //   alert(response.razorpay_order_id);
            //   alert(response.razorpay_signature);
              verifyPayment(response, );
            },
            prefill: {
              name: "Gaurav Kumar",
              email: "gaurav.kumar@example.com",
              contact: "9999999999",
            },
            notes: {
              address: "Razorpay Corporate Office",
            },
            theme: {
              color: "#3399cc",
            },
          };
          var rzpl = new Razorpay(options);
          rzpl.on("payment.failed", function (response) {
            paymentFailed(response);
          });
          rzpl.open();
        }
      },
    });
  });
//   let Couponcode = document.getElementById("couponInput").value;

    console.log(CouponCode,"veryfy payment");
    function verifyPayment(payment,razorpayOrderData) {
    console.log(razorpayOrderData,'orderrrrrrrrrrrrrrrrrrr dataaaaaaaaa');
   
    $.ajax({
      url: "/verifyPayment",
      data: {
        payment,
        razorpayOrderData,
        userOrderData,
		CouponCode,
		walletBalance
      },
      method: "post",
     
      success: (response) => {
        if (response.status) {
          Swal.fire({
            title: "Order Placed Successfully",
            icon: "success",
            showDenyButton: false,
            confirmButtonText: "View Order",
            denyButtonText: `Continue Shopping`,
            toast: true,
          }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
              location.href = "/order-complete";
            } else if (result.isDenied) {
              location.href = "/";
            }
          });
        }
      },
    });
  }
  function paymentFailed(response) {
    $.ajax({
      url: "/paymentFailed",
      data: response,
      method: "post",
      success: (response) => {
        if (response.status) {
          Swal.fire({
            title: "Payment Failed !",
            icon: "error",
            showDenyButton: false,
            toast: true,
          }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
              location.href = "/";
            } else if (result.isDenied) {
              location.href = "/";
            }
          });
        }
      },
    });
  }

		</script>