<%- include('../includes/userHeader.ejs') %>
	<div class="colorlib-loader"></div>

 
		<aside id="colorlib-hero">
			<div class="flexslider">
				<ul class="slides">
					<% for( let i = 0; i < banner.length; i++ ) { %>
					
					
				  <% if (banner[i].offer) { %>
					<li style="background-image: url('/banner_images/<%= banner[i].imageUrl[0].filename  %>');">
						<div class="overlay"></div>
						<div class="container-fluid">
							<div class="row">
								<div class="col-sm-6 offset-sm-3 text-center slider-text">
									<div class="slider-text-inner">
										<div class="desc">
											<h1 class="head-1"><%= banner[i].head1 %></h1>
											<h2 class="head-2"><%= banner[i].head2 %></h2>
											<h2 class="head-3">up to <strong class="font-weight-bold"><%= banner[i].offer %>%</strong> off</h2>
											<p class="category"><span><%= banner[i].description %></span></p>
											<p><a href="<%= banner[i].route %>" class="btn btn-primary">Shop Collection</a></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<% } else if (!banner[i].offer) { %>
						<li style="background-image: url('/banner_images/<%= banner[i].imageUrl[0].filename  %>');">
							<div class="overlay"></div>
							<div class="container-fluid">
								<div class="row">
									<div class="col-sm-6 offset-sm-3 text-center slider-text">
										<div class="slider-text-inner">
											<div class="desc">
												<h1 class="head-1"><%= banner[i].head1 %> </h1>
												<h2 class="head-2"><%= banner[i].head2 %></h2>
												<h2 class="head-3"><%= banner[i].head3 %></h2>
												<p class="category"><span><%= banner[i].description %></span></p>
												<p><a href="<%= banner[i].route %>" class="btn btn-primary">Shop Collection</a></p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
				  <% } %>
				   <% } %>
			  	</ul>
		  	</div>
		</aside>
		<div class="colorlib-intro">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-center">
						<h2 class="intro">It started with a simple idea: Create quality, well-designed products that I wanted myself.</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="colorlib-product" id="categaries">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-6 text-center">
						<div class="featured">
							<a href="/men?page=1&limit=4" class="featured-img" style="background-image: url(images/men.jpg);"></a>
							<div class="desc">
								<h2><a href="#">Shop Men's Collection</a></h2>
							</div>
						</div>
					</div>
					<div class="col-sm-6 text-center">
						<div class="featured">
							<a href="/women?page=1&limit=4" class="featured-img" style="background-image: url(images/women.jpg);"></a>
							<div class="desc">
								<h2><a href="#">Shop Women's Collection</a></h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
              <!-- home product shows -->
		<div class="colorlib-product" id="best-sellers">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 offset-sm-2 text-center colorlib-heading">
						<h2>Best Sellers</h2>
					</div>
				</div>

				<div class="row row-pb-md">
					<% for(var i = 0; i < product.length; i++) { %>
					<div class="col-lg-3 mb-4 text-center">
						<div class="product-entry border">
							<a href="/productDetails/<%= product[i]._id%>" class="prod-img" >
								<img src="/images/<%= product[i].imageUrl[0] %>"  style="height:270px ;"  class="img-fluid" alt="product image">
							</a>
							<div class="desc">
								<h2><a href="#"><%= product[i].name%> </a></h2>
								<% if ( product[i].discountPrice==0) { %>
								<span class="price">₹<%= product[i].price%> </span>
								 <% } else { %>
									<span class="price"><del>₹<%= product[i].price%></del> </span>
									<span class="price">₹<%= product[i].discountPrice%> </span>
									<% } %>

							</div>
						</div>
					</div>
					<% } %> 

				</div>
				<div class="row">
					<div class="col-md-12 text-center">
						<p><a href="#categaries" class="btn btn-primary btn-lg">Shop All Products</a></p>
					</div>
				</div>
				
			</div>
		</div>
           <!-- home product end -->
		<div class="colorlib-partner">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 offset-sm-2 text-center colorlib-heading colorlib-heading-sm">
						<h2>Trusted Partners</h2>
					</div>
				</div>
				<div class="row">
					<div class="col partner-col text-center">
						<img src="images/brand-1.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
					</div>
					<div class="col partner-col text-center">
						<img src="images/brand-2.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
					</div>
					<div class="col partner-col text-center">
						<img src="images/brand-3.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
					</div>
					<div class="col partner-col text-center">
						<img src="images/brand-4.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
					</div>
					<div class="col partner-col text-center">
						<img src="images/brand-5.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
					</div>
				</div>
			</div>
		</div>

	<%- include('../includes/userFooter') %> 
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
	</div>
	