
<%- include('../includes/userHeader.ejs') %>
<style>

  /* component */

  .star-rating {

    display: flex;
    flex-direction: row-reverse;
    font-size: 1.5em;
    justify-content: space-around;
    padding: 0 .2em;
    text-align: center;
    width: 5em;
  }

  .star-rating input {
    display: none;
  }

  .star-rating label {
    color: #ccc;
    cursor: pointer;
  }

  .star-rating :checked~label {
    color: #f90;
  }

  .star-rating label:hover,
  .star-rating label:hover~label {
    color: #fc0;
  }
</style>

<div id="invoice">
<section  class="login_part padding_top mt-5">
    <div class="container">
      <button class="mt=5 float-right" id="download-button">Download as PDF</button>
      <div class="jumbotron">
        <div class="container">
            <div class="row order_d_inner">
                <div>
              
            </div>
                <div class="col-lg-4">
                    <div class="details_item">
                        <h4>Order Info</h4>
                        <ul class="list">
                            <li><a href="#"><span class="font-weight-bold">Order Id</span> :<%= orderDetails._id %>  </a></li>
                            <li><a href="#"><span class="font-weight-bold">Date</span> :</a><%= orderDetails.updatedAt.toLocaleDateString() %> </li>
                            <li><a href="#"><span class="font-weight-bold">Time</span> :</a><%= orderDetails.time %> </li>

                            <li><a href="#"><span class="font-weight-bold">Payment method</span> :<%= orderDetails.paymentMethod %> </a></li>
                            <li><a href="#"><span class="font-weight-bold">Payment Status</span> :<%= orderDetails.paymentStatus %> </a></li>
                            <% if (orderDetails.couponDiscount >0) { %>
                            <li><a href="#"><span class="font-weight-bold">Coupon Discount</span> :₹<%= orderDetails.couponDiscount %> </a></li>
                            <% } %>
                            <% if (orderDetails.useWallet>0) { %>
                              <li><a href="#"><span class="font-weight-bold">Via Wallet</span> :₹<%= orderDetails.useWallet %> </a></li>
                              <% } %>
                            
                            <li><a href="#"><span class="font-weight-bold">Total</span> : Rs</a><%= orderDetails.total %></li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="details_item">
                        <h4>Billing Address</h4>
                        <ul class="list ">
                            <li><a href="#"><span class="font-weight-bold">Name :</span> <%=orderDetails.address.fName  %>  </a></li>
                            <li><a class="text-wrap" href="#"><span class="font-weight-bold">Home :</span> <% orderDetails.address.addressLine.split(',').forEach(el => {  %>
                              <%= el  %> <br> <% }); %></a></li>
                            <li><a href="#"><span class="font-weight-bold">City :</span> <%=orderDetails.address.city  %></a></li>

                            <li><a href="#"><span class="font-weight-bold">State :</span> <%=orderDetails.address.state  %></a></li>
                            <li><a href="#"><span class="font-weight-bold">Country :</span> <%=orderDetails.address.country  %></a></li>
                            <li><a href="#"><span class="font-weight-bold">Postcode :</span> <%=orderDetails.address.pincode  %></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="details_item">
                        <h4>Shipping Address</h4>
                        <ul class="list">
                            <li><a href="#"><span class="font-weight-bold">Address Name:</span> <%=orderDetails.address.fName  %> </a></li>
                            <li ><a  href="#"><span class="font-weight-bold">Home:</span><div class="col-sm-4" > <% orderDetails.address.addressLine.split(',').forEach(el => {  %>
                                <%= el  %> <br> <% }); %></a></li>
                            <li><a href="#"><span class="font-weight-bold">City :</span>  <%=orderDetails.address.city  %> </a></li>
                            <li><a href="#"><span class="font-weight-bold">State :</span> <%=orderDetails.address.state  %></a></li>
                            <li><a href="#"><span class="font-weight-bold">Country :</span> <%=orderDetails.address.country  %> </a></li>
                            <li><a href="#"><span class="font-weight-bold">Postcode :</span> <%=orderDetails.address.pincode  %> </a></li>
                        
                        </ul>
                    </div>
                </div>
            </div>
           


            
      </div>
    </div>
   
  </section>
  
  

  <section class="login_part padding_top">
    <div class="container">
      <div class="jumbotron">
        <div class="container">
         


            <div  class="order_details_table">
                <h2>Product Details</h2>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                                <th scope="col"></th>

                            </tr>
                        </thead>
                        <tbody>
                            
                            <% for( let i = 0; i < orderDetails.products.length; i++ ) { %>  
                                
                            <tr>
                                <td>
                                    <p><%=orderDetails.products[i].product.name  %></p>
                                </td>
                                <td>
                                    <h5><%= orderDetails.products[i].quantity%></h5>
                                </td>
                                <td>
                                    <p>Rs:<%= orderDetails.products[i].totalPrice%></p>
                                </td>
                                <% if ( orderDetails.orderStatus == 'Delivered') { %>
                                <td>
                               
                                  <button class="btn btn-primary" data-toggle="modal" onclick="addReview('<%=orderDetails.products[i].product._id%>')"  data-target="#exampleModalreview">Review</button>
                                </td>
                                 
                                <% } %>
                            </tr>
                         
                            <tr>
                                <% }%>
                                <td>
                                    <!-- <h4>SubTotal</h4> -->
                                </td>
                                <td>
                                    <h5></h5>
                                </td>
                                <td>
                                    <!-- <p>Rs</p> -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            
      </div>
    </div>
   
  </section>
</div>


<section class="order_details section_gap">
    <div class="container">
        
            
        
            
           
      
        <div class="container text-center mt-5">
            
            <% if(orderDetails.orderStatus != 'Cancelled' && orderDetails.orderStatus != 'Delivered'&& orderDetails.orderStatus != 'Returnd'){ %>
                <button onclick="cancelOrder('<%=orderDetails._id%>')" class="btn btn-primary">
                  Cancel Order
                </button>
              <% } %>
          <% if ( orderDetails.orderStatus == 'Delivered') { %>
         <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Return Order
          </button>
  
       <% } else if (orderDetails.orderStatus == 'Returnd' && orderDetails.paymentStatus != 'Refunded') { %>
 
       <button onclick="requistRefund('<%=orderDetails._id%>')" class="btn btn-primary">
        Requist Refund
       </button>

       <% } %>  
 
       <a class="btn btn-primary" href="/">Go back to Shopping</a>
      

      <!-- Button trigger modal -->

<!-- review modal start -->

<div class="modal fade" id="exampleModalreview" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-right-side" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add your review</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-2" style="width:350px;">
        <form action="#" onsubmit="reviewww()">

          <label for="" class="text-primary mb-0 fw-bold">Rate the product</label>
          <div class="star-rating ml-5 mt-0 mb-0 d-flex justify-content-between" onclick="removewarning()" style="width:200px;">
            <input type="radio" id="5-stars" name="rating" value="5" />
            <label for="5-stars" class="star">&#9733;</label>
            <input type="radio" id="4-stars" name="rating" value="4" />
            <label for="4-stars" class="star">&#9733;</label>
            <input type="radio" id="3-stars" name="rating" value="3" />
            <label for="3-stars" class="star">&#9733;</label>
            <input type="radio" id="2-stars" name="rating" value="2" />
            <label for="2-stars" class="star">&#9733;</label>
            <input type="radio" id="1-star" name="rating" value="1" />
            <label for="1-star" class="star">&#9733;</label>
          </div>
          <p class="text-danger mb-2 mt-0" id="removewarning" style="display:none;">Please add your rating also</p>
          <label class=""> Title (optional) </label><br>
          <input type="text" name="title" class="form-control">
          <label class="" for="reviewId">Write your review</label><br>
          <textarea name="review" class="form-control" id="reviewId" cols="30" rows="4" required></textarea>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
      </form>
    </div>
  </div>
</div>



<!-- review modal end  -->
  
  <!-- return Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Return Order #<%= orderDetails._id %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <p>Why are you retturning this order ?</p>
        <div class="modal-body">
            <select  data-oid="<%= orderDetails._id %>"   name="track" id="track">     
                <option value="Delivery is later than expected">Delivery is later than expected</option>
            
                <option value="Purchased by mistake ">Purchased by mistake </option>
                <option value="Item no longer needed" >Item no longer needed </option>
              <option value="Other reasons"  >Other reasons</option>
            
            </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary"  onclick="orderStatus(this)">Return</button>
        </div>
      </div>
    </div>
  </div>
      
  <!-- return modal -->
      
            
        </div>
    </div>
</section>
<!--================End Order Details Area =================-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<%- include('../includes/userFooter.ejs') %>


<script>
function cancelOrder(orderId){
    console.log("cancel order");
    Swal.fire({
      title: "Are you sure?",
      text: "You won't be able to revert this!",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Yes, Cancel Order!",
      cancelButtonText : 'No'
}).then((result) => {
   if(result.isConfirmed) {
    console.log(orderId);
    $.ajax({
          url:'/cancelOrder/?id='+orderId,
          method:'get',
    })
     Swal.fire("Cancelled!", "Your orderd has been Cancelled.", "success").then(()=>{
        //   window.location = "/myOrder"
          window.location.reload();
        })
   }
})
}
 </script> 

<script>
    function orderStatus(e){
      console.log("order status ethi");
      const oid = $('#track').data('oid')
      const value = $('#track').find(":selected").val();
    
    $.ajax({
      url:"/returnOrder",
      data:{
        oid,
        value
      },
      method:"post",
      success:(response)=>{
       if(response.status){
        Swal.fire({
      position: 'top-end',
      icon: 'success',
      title: 'Track statuse has been changed',
      showConfirmButton: false,
      timer: 1000
      
    }).then(()=>{
      window.location.reload();
    })
        
       }
      }
    })
        
    }
     </script>


<script>

function requistRefund(orderId){
        console.log("post vanuu-------------");
            axios.post(`/refund?orderId=${orderId}`)
            .then((e =>{
               if(e.data.status){
               
                Swal.fire({
  position: 'center',
  icon: 'success',
  title: 'your money has been returned,please check your wallet',
  showConfirmButton: false,
  timer: 2000
}).then(()=>{

  location.reload()   
})       
               }
              
              
            }))
        }
</script>
     	<script>
			const button = document.getElementById('download-button');

			function generatePDF() {
				// Choose the element that your content will be rendered to.
				const element = document.getElementById('invoice');
				// Choose the element and save the PDF for your user.
				html2pdf().from(element).save();
			}

			button.addEventListener('click', generatePDF);
		</script>

    <script>

      
  let iddd;
  addReview = (id) => {
    iddd = id
    console.log(iddd);
  }

  reviewww = async () => {
    event.preventDefault()
    const formData = new FormData(event.target);
    const formProps = await Object.fromEntries(formData);
    formProps.product = iddd
    if (formProps.rating) {
      axios.post('/review', formProps).then(async e => {
        const Toast = Swal.mixin({
          toast: true,
          position: 'top-end',
          showConfirmButton: false,
          timer: 1000,
          timerProgressBar: true,
          didOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
          }
        })
        if (e.data.response === "login") location.href = "/login"
        else if (e.data.error) {
          await Toast.fire({
            icon: 'error',
            title: e.data.error
          })
        } else {
          await Toast.fire({
            icon: 'success',
            title: 'Your review added successfully'
          })
          location.reload()
        }
      })
    } else {
      document.getElementById('removewarning').style.display = "block"
    }
  }
  removewarning = () => {
    document.getElementById('removewarning').style.display = "none"
  }
    </script>