<%- include('../includes/userHeader.ejs') %>

<!--================Profile Account =================-->
<section class="login_part padding_top">
  <div class="container">
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Hello,<%=user.name %>  !</h1>
        <p>
          This is a template for a simple marketing or informational website. It includes a large callout called a
          jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.
        </p>
        <p><a class="btn btn-primary btn-lg" href="/" role="button">Continue Shopping &raquo;</a></p>
      </div>
       <div class="container">
  

   
      <div class="row row-cols-1 row-cols-md-3 mb-3  mt-4">
   
        
        <div class="row">
          <div class="col-md-6">
            <div class="contact-wrap">
              <h3>Your Details</h3>
              <!-- <form action="#" class="contact-form"> -->
                <div class="row">
                  <!-- <div class="col-md-6">
                    <div class="form-group">
                      <label for="fname">First Name</label>
                      <input type="text" id="fname" class="form-control" placeholder="Your firstname">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="lname">Last Name</label>
                      <input type="text" id="lname" class="form-control" placeholder="Your lastname">
                    </div>
                  </div> -->
                  <div class="w-100"></div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label for="email">Name</label>
                      <input value="<%= user.name %> " type="text" name="fname" id="fname" class="form-control" disabled>
                    </div>
                  </div>
                  <div class="w-100"></div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label for="subject">Email</label>
                      <input value="<%= user.email %>"   name="email" id="email" class="form-control" disabled >
                    </div>
                  </div>
                  <div class="w-100"></div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label for="subject">Number</label>
                      <input  value="<%=user.number %>" type="number" id="number" class="form-control" disabled>
                    </div>
                  </div>
                  <div class="w-100"></div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <!-- <input type="submit" value="Send Message" class="btn btn-primary"> -->
                      <a href="">
                      <button class="addtocart  btn btn-primary btn-addtocart" >
                        change Password
                       </button>
                      </a>
                      
                    </div>
                  </div>

                  <% if (address) { %>
                   
                    
                    
                 
                  <div class="col-sm-12 ">
                    <div class="form-group">
                      <label for="message">Adress</label>
                      <textarea name="address" id="address" cols="20" rows="5" class="form-control " disabled>
                       Name: <%= address.address.fName %>,
                       Address: <%= address.address.addressLine %>,
                        city:<%= address.address.city %>,
                        State:<%= address.address.state %>,
                        Pincode:<%= address.address.pincode %>
                        Pincode:<%= address.address.country %>
                      </textarea>
                    </div>
                  </div>
             
                  <div class="w-100"></div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <!-- <input type="submit" value="Send Message" class="btn btn-primary"> -->
                      <a href="">
                      <button class="addtocart  btn btn-primary btn-addtocart" >
                        Edit Address
                       </button>
                      </a>
                      
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <!-- <input type="submit" value="Send Message" class="btn btn-primary"> -->
                      <a onclick="deleteItem( '<%= address._id %>')">
                      <button class="addtocart  btn btn-primary btn-addtocart" >
                        Delete Address
                       </button>
                      </a>
                      
                    </div>
                  </div>
                  <% } else { %>
                    <a href="/address">
                      <button class="addtocart  btn btn-primary btn-addtocart" >
                      Add Address
                      </button>
                     </a>	
                     <% } %>
                </div>
              <!-- </form>	 -->
            
            </div>
          </div>
      </div>
    
  
        
               
        
       
        
        
      </div>
   
      




    
  </div>
 
</section>

<%- include('../includes/userFooter.ejs') %>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
  function deleteItem(id){

    const swalWithBootstrapButtons = Swal.mixin({
  customClass: {
    confirmButton: 'btn btn-success',
    cancelButton: 'btn btn-danger'
  },
  buttonsStyling: true
})

swalWithBootstrapButtons.fire({
  title: 'Are you sure?',
  text: "You won't be able to revert this!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonText: 'Yes, delete it!',
  cancelButtonText: 'No, cancel!',
  reverseButtons: true
}).then((result) => {
  if (result.isConfirmed) {
    location.href= `/deleteAddress/${id}`
    swalWithBootstrapButtons.fire(
      'Deleted!',
      'Your address has been deleted.',
      'success'
    )
  } else if (
    /* Read more about handling dismissals below */
    result.dismiss === Swal.DismissReason.cancel
  ) {
    swalWithBootstrapButtons.fire(
      'Cancelled',
      'Your file is safe',
      'error'
    )
  }
})

   
  }
</script>